Data/dem_10m/*.tif
Data/ky_boundaries/boundaries_shapefiles
Data/nhd/nhd_shapefiles
Data/stream_gauges/gauge_height/*.csv
Data/stream_gauges/streamflow/*.csv
ElevatedStreamFlowEvents/watershed_hydrographs/*.jpg