Data/dem_10m/*.tif
Data/ky_boundaries/boundaries_shapefiles/*.*
Data/nhd/nhd_shapefiles/*.*
Data/nhdplus_hr/*.gdb
Data/stream_gauges/gauge_height/*.csv
Data/stream_gauges/streamflow/*.csv
StreamFlowEvents/discharge_hydrographs/*.jpg
StreamFlowEvents/discharge_highflowevents/*.jpg
StreamFlowEvents/stage_hydrographs/*.jpg
StreamFlowEvents/stage_highflowevents/*.jpg
TerrainFeatures/terrain_features/*.tif
TerrainFeatures/terrain_features/arcgis_pro_original/*.tif